body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

/*.imgFix{
  width: 100%;
}*/

.bg-light {
    background-color: #fff !important;
}

.special {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0px;
}

.special h3 {
    margin: 50px 0px;
}

.contact {
    padding: 20px;
    text-align: center;
}

.row {
  margin-bottom: 20px; 
}

@media (min-width: 48em) {

    .navbar-nav {
        margin-left: auto!important;
        margin-right: 0!important;
    }

    .photo img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }
    

}

h1, label {
  text-align: center;
}

/*#foodInput, #foodSubmit {
  text-align: center;
  margin-left: 25%;
}*/